* {
  margin: 1%;
  width: 90%;
}
.aligment{
  max-width: 10%;
}
.race{
  max-width: 10%;
}
#Cname {
  max-width: 20%;
}
.scoreAbility {
  display: block;
  max-width: 200px;
  padding-bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
  border-width: 2px;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 2%;
  padding: 1em;
  
  
  }

 input {
  display: inline 5%;
  max-width: 20%;
  
  
 }

 .descriptCha {
  width: 50%;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  margin-left: 1%;
  resize: both;
  border-width: 2px;
  border: 1px solice rgb(255, 255, 255);
  border-radius: 5px;
 }
